<!DOCTYPE html>
<html>
    <head>
        <title>LISTADO CARRETA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="fragmentos/other/common_style :: bootstrap5-sa"></th:block>
        <!-- Libreria JQUERY -->
        <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
        <!-- Bloque de Scripts de Datatable -->
        <th:block th:replace="fragmentos/datatable/head :: dataTableHead"></th:block>
        <script>
            // Función para validar si la placa del tracto ya existe en la base de datos
            function validateCarreta() {
            let PlacaCarreta = document.getElementById('PlacaCarreta').value;

            return $.ajax({
                url: `/carretas/validar`,
                type: 'GET',
                data: { PlacaCarreta: PlacaCarreta },
                async: false
            }).responseJSON;
          }

            //funcion validar rango de placa
            function validarPlacaCarreta() {
           let placaCarreta= document.getElementById("PlacaCarreta").value;
           let pattern = /^[A-Za-z0-9-]{1,7}$/;  // Permitir de 1 a 7 caracteres alfanuméricos o guiones (-)
           return pattern.test(placaCarreta);
         }



           //funcion agregar carreta
           function Agregar1() {
               event.preventDefault();

             // Obtener valores de los campos
             PlacaCarreta_1 = document.getElementById('PlacaCarreta').value;
             Peso = document.getElementById('Peso').value;
             Largo = document.getElementById('Largo').value;
             Ancho = document.getElementById('Ancho').value;

            // Validar que todos los campos obligatorios estén llenos
                 if (!PlacaCarreta_1 || !Peso || !Largo || !Ancho) {
                Swal.fire({
                 title: 'Campos vacíos',
                 text: 'Por favor complete todos los campos.',
                 icon: 'error'
                 });
                 return;
                }

                if (!validarPlacaCarreta()) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'La placa de la carreta debe contener entre 1 y 7 caracteres alfanuméricos o guiones (-).'
                });
                return;  // Salir de la función si la validación falla
            }
            // Validar si la placa del tracto ya existe en la base de datos
                if (validateCarreta()) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'La placa de la Carreta ya existe en la base de datos.'
                });
                return;  // Salir de la función si la placa del tracto ya existe
                 }

               Swal.fire({
                   title: '¿Estas seguro de agregar una nueva carreta?',
                   text: "Se podrá modificar en el futuro",
                   icon: 'warning',
                   showCancelButton: true,
                   confirmButtonColor: '#3085d6',
                   cancelButtonColor: '#d33',
                   confirmButtonText: 'Aceptar'
               }).then((result) => {
                   if (result.isConfirmed) {
                       Swal.fire(
                               'Agregado!',
                               'El tracto ha sido agregado.',
                               'Exito'
                               ).then((result) => {
                           if (result.isConfirmed) {
                               const formulario = document.getElementById('agregar');
                               formulario.submit();
                           }
                       });
                   }
               });
           }
           function Eliminar(opcion)
           {
               event.preventDefault();
               Swal.fire({

                   title: '¿Eliminar?',
                   text: "Esta desicion no se podra revertir",
                   icon: 'warning',
                   showCancelButton: true,
                   confirmButtonColor: '#3085d6',
                   cancelButtonColor: '#d33',
                   cancelButtonText: 'Cancelar',
                   confirmButtonText: 'Eliminar',
                   allowOutsideClick: false,
                   allowEscapeKey: false
               }).then((result) => {
                   if (result.isConfirmed) {
                       Swal.fire({
                           title: 'Eliminar',
                           text: 'Eliminado correctamente',
                           icon: 'success',
                           allowOutsideClick: false,
                           allowEscapeKey: false
                       }).then((result) => {
                           if (result.isConfirmed) {
                               location.href = opcion.href;
                           }
                       });
                   }
               });
           }


        </script>
    </head>
    <body>
        <header>
             <th:block th:replace="menu :: NavBar"></th:block>
         </header>
        <hr class="container mt-5">
        <th:block th:replace="menu :: NavList"></th:block>
        <div class="container">
            <div class="alert alert-danger my-2 text-center" role="alert"><b>LISTADO CARRETA</b></div>
            <hr class="container">
            <div class="row">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i>Agregar Carreta</button>
            </div>
            </div>
        </div>
        <div class="container mb-5" style="width: 100%">
            <table id="myTable" class="table table-striped nowrap " style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Placa Carreta</th>
                    <th>Peso</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Aciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="carretas,status : ${carretas}"  th:if="${carretas.id!=''}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${carretas.id}"></td>
                    <td th:text="${carretas.PlacaCarreta}"></td>
                    <td th:text="${carretas.Peso}"></td>
                    <td th:text="${carretas.Largo}"></td>
                    <td th:text="${carretas.Ancho}"></td>
                    <td class="d-flex">
                        <a onclick="return Eliminar(this)" th:href="@{/eliminarCarreta(id=${carretas.id})}" class="me-2 btn btn-danger"> <i class="bi bi-trash-fill"></i> </a>


                    </td>
                </tr>
                </tbody>
            </table> 
        </div>
        <!-- Model REGISTRAR -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>

                        <div class="card-body p-3 rounded text-center">
                            <img th:src="@{/img/carreta.png}" alt="trailer_icono" height="200" width="200">
                        </div>
                        <hr class="border border-primary">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body p-5">
                        <form action="registroCarreta" method="POST" id="agregar">                            
                            <div class="d-flex mb-2">
                                <div class="col-md-6 me-3">
                                    <label for="recipient-name" class="col-form-label">Placa Careta</label>
                                    <input type="text" name="PlacaCarreta" id="PlacaCarreta" placeholder="Ingrese Placa de Carreta" class="form-control">
                                    <span id="errorPlacaCarreta" style="color: red; display: none;">La placa de la Carreta debe contener entre 1 y 7 caracteres alfanuméricos o guiones (-).</span>

                                </div>
                                <div class="col-md-6">
                                    <label for="recipient-name" class="col-form-label">Peso (en Kg):</label>
                                    <input type="text" name="Peso" id="Peso" placeholder="Ingrese Peso de la Carreta" class="form-control">

                                </div>
                            </div>
                            <div class="d-flex mb-2">
                                <div class=" col-md-6 me-3">
                                    <label for="message-text" class="col-form-label">Largo (en metros):</label>
                                    <input type="text" name="Largo" id="Largo" placeholder="Ingrese Largo" class="form-control">
                                </div>
                                <div class=" col-md-6">
                                    <label for="recipient-name" class="col-form-label">Ancho (en metros):</label>
                                    <input type="text" name="Ancho" id="Ancho" placeholder="Ingrese Motor" class="form-control">

                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Agregar1()" type="button" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL EDITAR-->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Carreta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="actualizarCarreta" method="POST" id="actualizar" class="p-5">
                            <input type="hidden" name="id" id="id">

                            <div class="d-flex mb-2">
                                <div class="col-md-6 me-3">
                                    <label for="recipient-name" class="col-form-label">Placa Careta</label>
                                    <input type="text" name="PlacaCarreta" id="PlacaCarretax" placeholder="Ingrese Placa de Carreta" class="form-control">

                                </div>
                                <div class="col-md-6">
                                    <label for="recipient-name" class="col-form-label">Peso</label>
                                    <input type="text" name="Peso" id="Pesox" placeholder="Ingrese Peso de la Carreta" class="form-control">

                                </div>
                            </div>
                            <div class="d-flex mb-2">
                                <div class=" col-md-6 me-3">
                                    <label for="message-text" class="col-form-label">Largo</label>
                                    <input type="text" name="Largo" id="Largox" placeholder="Ingrese Largo" class="form-control">
                                </div>
                                <div class=" col-md-6">
                                    <label for="recipient-name" class="col-form-label">Ancho:</label>
                                    <input type="text" name="Ancho" id="Anchox" placeholder="Ingrese Motor" class="form-control">

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Actualizar()" type="button" class="btn btn-primary">Actualizar </button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div th:insert="menu :: #barraFooter"></div>
        </footer>
        <th:block th:replace="fragmentos/datatable/scripts :: dataTableScript"></th:block>
        <script th:src="@{/js/datatables-demo.js}"></script>
    </body>
</html>
