<!DOCTYPE html>

<html>
<head>
    <title>LISTADO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragmentos/other/common_style :: bootstrap5-sa"></th:block>
    <script>
        function Eliminar(opcion) {
            event.preventDefault();
            Swal.fire({
                title: '¿Eliminar?',
                text: "Esta desicion no se podra revertir",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Eliminar',
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Eliminar',
                        text: 'Eliminado correctamente',
                        icon: 'success',
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = opcion.href;
                        }
                    });
                }
            });
        }

        function Actualizar() {
            event.preventDefault();
            Swal.fire({
                title: 'Desea actualizar los cambios?',
                text: '',
                showDenyButton: true,
                confirmButtonText: 'Sí, actualizar',
                denyButtonText: `No actualizar`
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Éxito!',
                        'Registro actualizado :)',
                        'success'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            const form1 = document.getElementById("actualizar");
                            form1.submit();
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Los cambios no se han actualizado', '', 'info');
                }
            });
        }

        function Editar() {
            const exampleModal = document.getElementById('modalEditar');
            exampleModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget;

                // Datos
                const Id = button.getAttribute('data-bs-id');
                const PuntoPartida = button.getAttribute('data-bs-PuntoPartida');
                const PuntoLlegada = button.getAttribute('data-bs-PuntoLlegada');
                const Destinatario = button.getAttribute('data-bs-Destinatario');
                const DocumentoDestinatario = button.getAttribute('data-bs-DocumentoDestinatario');
                const Proveedor = button.getAttribute('data-bs-Proveedor');
                const DocumentoProveedor = button.getAttribute('data-bs-DocumentoProveedor');
                const MotivoTraslado = button.getAttribute('data-bs-MotivoTraslado');
                const ModalidadTraslado = button.getAttribute('data-bs-ModalidadTraslado');
                const FechaEmision = button.getAttribute('data-bs-FechaEmision');
                const HoraEmision = button.getAttribute('data-bs-HoraEmision');
                const FechaTraslado = button.getAttribute('data-bs-FechaTraslado');
                const NumeroPedido = button.getAttribute('data-bs-NumeroPedido');
                const RazonSocialTransportista = button.getAttribute('data-bs-RazonSocialTransportista');
                const RUCTransportista = button.getAttribute('data-bs-RUCTransportista');
                const NumeroMTC = button.getAttribute('data-bs-NumeroMTC');
                const Conductor = button.getAttribute('data-bs-Conductor');
                const DocumentoConductor = button.getAttribute('data-bs-DocumentoConductor');
                const NumeroLicencia = button.getAttribute('data-bs-NumeroLicencia');
                const NumeroPlaca = button.getAttribute('data-bs-NumeroPlaca');

                // Campos
                const campoId = document.getElementById("id");
                const campoPuntoPartida = document.getElementById("PuntoPartida");
                const campoPuntoLlegada = document.getElementById("PuntoLlegada");
                const campoDestinatario = document.getElementById("Destinatario");
                const campoDocumentoDestinatario = document.getElementById("DocumentoDestinatario");
                const campoProveedor = document.getElementById("Proveedor");
                const campoDocumentoProveedor = document.getElementById("DocumentoProveedor");
                const campoMotivoTraslado = document.getElementById("MotivoTraslado");
                const campoModalidadTraslado = document.getElementById("ModalidadTraslado");
                const campoFechaEmision = document.getElementById("FechaEmision");
                const campoHoraEmision = document.getElementById("HoraEmision");
                const campoFechaTraslado = document.getElementById("FechaTraslado");
                const campoNumeroPedido = document.getElementById("NumeroPedido");
                const campoRazonSocialTransportista = document.getElementById("RazonSocialTransportista");
                const campoRUCTransportista = document.getElementById("RUCTransportista");
                const campoNumeroMTC = document.getElementById("NumeroMTC");
                const campoConductor = document.getElementById("Conductor");
                const campoDocumentoConductor = document.getElementById("DocumentoConductor");
                const campoNumeroLicencia = document.getElementById("NumeroLicencia");
                const campoNumeroPlaca = document.getElementById("NumeroPlaca");

                // Colocar los datos a los campos
                campoId.value = Id;
                campoPuntoPartida.value = PuntoPartida;
                campoPuntoLlegada.value = PuntoLlegada;
                campoDestinatario.value = Destinatario;
                campoDocumentoDestinatario.value = DocumentoDestinatario;
                campoProveedor.value = Proveedor;
                campoDocumentoProveedor.value = DocumentoProveedor;
                campoMotivoTraslado.value = MotivoTraslado;
                campoModalidadTraslado.value = ModalidadTraslado;
                campoFechaEmision.value = FechaEmision;
                campoHoraEmision.value = HoraEmision;
                campoFechaTraslado.value = FechaTraslado;
                campoNumeroPedido.value = NumeroPedido;
                campoRazonSocialTransportista.value = RazonSocialTransportista;
                campoRUCTransportista.value = RUCTransportista;
                campoNumeroMTC.value = NumeroMTC;
                campoConductor.value = Conductor;
                campoDocumentoConductor.value = DocumentoConductor;
                campoNumeroLicencia.value = NumeroLicencia;
                campoNumeroPlaca.value = NumeroPlaca;
            });
        }
    </script>
</head>
<body onload="Editar()">
<header>
    <div th:insert="menu :: #navBar"></div>
</header>
<main>

    <hr class="container mt-5">
    <ul class="nav nav-tabs container justify-content-center align-items-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoEmpleados}" aria-current="page">Conductores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoViajes}">Viajes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/listadoFacturas}">Facturas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  " th:href="@{/listadoTracto}" aria-current="page">Tractos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoCarretas}">Carretas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoClientes}">Clientes</a>
        </li>
    </ul>
    <hr class="container">

    <div class="container">
        <div class="alert alert-danger my-2 text-center" role="alert"><b>LISTADO FACTURAS</b></div>
        <hr class="container-fluid">
        <hr class="container">

        <form class="row g-3 justify-content-center align-items-center" action="buscarFacturas" method="POST" role="search">
            <div class="col-auto">
                <input class="form-control" type="search" name="dato" placeholder="Ingrese dato a buscar" aria-label="Search">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary me-5" type="submit">Buscar</button>
            </div>
            <div class="col-auto">
                <a th:href="@{/ascendente}" class="ms-5 btn btn-success"><i class="bi bi-sort-up"></i>Orden Ascendente</a>
            </div>
            <div class="col-auto">
                <a th:href="@{/descendente}" class="btn btn-danger"><i class="bi bi-sort-down"></i>Orden Descendente</a>
            </div>
        </form>

        <hr class="container">

    </div>

    <div class="m-5">
        <table class="table table-striped mb-5">
            <tr class="table-primary">
                <th>#</th>
                <th>ID</th>
                <th>Punto de Partida</th>
                <th>Punto de Llegada</th>
                <th>Destinatario</th>
                <th>Documento del Destinatario</th>
                <th>Proveedor</th>
                <th>Documento del Proveedor</th>
                <th>Motivo del Traslado</th>
                <th>Modalidad del Traslado</th>
                <th>Fecha de Emisión</th>
                <th>Hora de Emisión</th>
                <th>Fecha de Traslado</th>
                <th>Número de Pedido</th>
                <th>Razón Social del Transportista</th>
                <th>RUC del Transportista</th>
                <th>Número de MTC</th>
                <th>Conductor</th>
                <th>Documento del Conductor</th>
                <th>Número de Licencia</th>
                <th>Número de Placa</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="facturas,status : ${facturas}" th:if="${facturas.id != ''}">
                <td th:text="${status.count}"></td>
                <td th:text="${facturas.id}"></td>
                <td th:text="${facturas.PuntoPartida}"></td>
                <td th:text="${facturas.PuntoLlegada}"></td>
                <td th:text="${facturas.Destinatario}"></td>
                <td th:text="${facturas.DocumentoDestinatario}"></td>
                <td th:text="${facturas.Proveedor}"></td>
                <td th:text="${facturas.DocumentoProveedor}"></td>
                <td th:text="${facturas.MotivoTraslado}"></td>
                <td th:text="${facturas.ModalidadTraslado}"></td>
                <td th:text="${#dates.format(facturas.FechaEmision, 'dd-MMM-yyyy')}"></td>
                <td th:text="${facturas.HoraEmision}"></td>
                <td th:text="${#dates.format(facturas.FechaTraslado, 'dd-MMM-yyyy')}"></td>
                <td th:text="${facturas.NumeroPedido}"></td>
                <td th:text="${facturas.RazonSocialTransportista}"></td>
                <td th:text="${facturas.RUCTransportista}"></td>
                <td th:text="${facturas.NumeroMTC}"></td>
                <td th:text="${facturas.Conductor}"></td>
                <td th:text="${facturas.DocumentoConductor}"></td>
                <td th:text="${facturas.NumeroLicencia}"></td>
                <td th:text="${facturas.NumeroPlaca}"></td>
                <td class="d-flex">
                    <a onclick="return Eliminar(this)" th:href="@{/eliminarFactura(id=${facturas.id})}" class="btn btn-danger me-2">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditar"
                            th:attr="data-bs-id=${facturas.id},
                            data-bs-PuntoPartida=${facturas.PuntoPartida},
                            data-bs-PuntoLlegada=${facturas.PuntoLlegada},
                            data-bs-Destinatario=${facturas.Destinatario},
                            data-bs-DocumentoDestinatario=${facturas.DocumentoDestinatario},
                            data-bs-Proveedor=${facturas.Proveedor},
                            data-bs-DocumentoProveedor=${facturas.DocumentoProveedor},
                            data-bs-MotivoTraslado=${facturas.MotivoTraslado},
                            data-bs-ModalidadTraslado=${facturas.ModalidadTraslado},
                            data-bs-FechaEmision=${facturas.FechaEmision},
                            data-bs-HoraEmision=${facturas.HoraEmision},
                            data-bs-FechaTraslado=${facturas.FechaTraslado},
                            data-bs-NumeroPedido=${facturas.NumeroPedido},
                            data-bs-RazonSocialTransportista=${facturas.RazonSocialTransportista},
                            data-bs-RUCTransportista=${facturas.RUCTransportista},
                            data-bs-NumeroMTC=${facturas.NumeroMTC},
                            data-bs-Conductor=${facturas.Conductor},
                            data-bs-DocumentoConductor=${facturas.DocumentoConductor},
                            data-bs-NumeroLicencia=${facturas.NumeroLicencia},
                            data-bs-NumeroPlaca=${facturas.NumeroPlaca}">
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Factura</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="actualizarFacturas" method="POST" id="actualizar" class="p-5">
                        <input type="hidden" name="id" id="id">
                        <div class="mb-3">
                            <label for="PuntoPartida" class="col-form-label">Punto de Partida:</label>
                            <input type="text" name="PuntoPartida" id="PuntoPartida" placeholder="Ingrese Punto de Partida" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="PuntoLlegada" class="col-form-label">Punto de Llegada:</label>
                            <input type="text" name="PuntoLlegada" id="PuntoLlegada" placeholder="Ingrese Punto de Llegada" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="Destinatario" class="col-form-label">Destinatario:</label>
                            <input type="text" name="Destinatario" id="Destinatario" placeholder="Ingrese Destinatario" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="DocumentoDestinatario" class="col-form-label">Documento del Destinatario:</label>
                            <input type="text" name="DocumentoDestinatario" id="DocumentoDestinatario" placeholder="Ingrese Documento del Destinatario" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="Proveedor" class="col-form-label">Proveedor:</label>
                            <input type="text" name="Proveedor" id="Proveedor" placeholder="Ingrese Proveedor" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="DocumentoProveedor" class="col-form-label">Documento del Proveedor:</label>
                            <input type="text" name="DocumentoProveedor" id="DocumentoProveedor" placeholder="Ingrese Documento del Proveedor" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="MotivoTraslado" class="col-form-label">Motivo del Traslado:</label>
                            <input type="text" name="MotivoTraslado" id="MotivoTraslado" placeholder="Ingrese Motivo del Traslado" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="ModalidadTraslado" class="col-form-label">Modalidad del Traslado:</label>
                            <input type="text" name="ModalidadTraslado" id="ModalidadTraslado" placeholder="Ingrese Modalidad del Traslado" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="FechaEmision" class="col-form-label">Fecha de Emisión:</label>
                            <input type="date" name="FechaEmision" id="FechaEmision" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="HoraEmision" class="col-form-label">Hora de Emisión:</label>
                            <input type="time" name="HoraEmision" id="HoraEmision" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="FechaTraslado" class="col-form-label">Fecha de Traslado:</label>
                            <input type="date" name="FechaTraslado" id="FechaTraslado" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="NumeroPedido" class="col-form-label">Número de Pedido:</label>
                            <input type="text" name="NumeroPedido" id="NumeroPedido" placeholder="Ingrese Número de Pedido" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="RazonSocialTransportista" class="col-form-label">Razón Social del Transportista:</label>
                            <input type="text" name="RazonSocialTransportista" id="RazonSocialTransportista" placeholder="Ingrese Razón Social del Transportista" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="RUCTransportista" class="col-form-label">RUC del Transportista:</label>
                            <input type="text" name="RUCTransportista" id="RUCTransportista" placeholder="Ingrese RUC del Transportista" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="NumeroMTC" class="col-form-label">Número de MTC:</label>
                            <input type="text" name="NumeroMTC" id="NumeroMTC" placeholder="Ingrese Número de MTC" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="Conductor" class="col-form-label">Conductor:</label>
                            <input type="text" name="Conductor" id="Conductor" placeholder="Ingrese Conductor" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="DocumentoConductor" class="col-form-label">Documento del Conductor:</label>
                            <input type="text" name="DocumentoConductor" id="DocumentoConductor" placeholder="Ingrese Documento del Conductor" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="NumeroLicencia" class="col-form-label">Número de Licencia:</label>
                            <input type="text" name="NumeroLicencia" id="NumeroLicencia" placeholder="Ingrese Número de Licencia" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="NumeroPlaca" class="col-form-label">Número de Placa:</label>
                            <input type="text" name="NumeroPlaca" id="NumeroPlaca" placeholder="Ingrese Número de Placa" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button onclick="return Actualizar()" type="button" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

</main>
<footer>
    <div th:insert="menu :: #barraFooter"></div>
</footer>
</body>
</html>
