
<th:block th:fragment="NavBar">
    <form
            th:action="@{/logout}"
            method="post"
            th:hidden="true"
            id="logoutForm"
    >
    </form>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a th:href="@{/}"><img th:src="@{/img/Logo.png}" alt="alt" height="100" width="150"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav me-auto justify-content-end align-items-end">


                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/}"><h5><i class="mx-3 bi bi-house"></i>Inicio</h5></a>
                    </li>
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/nosotros}"><h5><i class="mx-3 bi bi-people-fill"></i>Nosotros</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/contacto}"><h5><i class="mx-3 bi bi-envelope-fill"></i>Contactanos</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/login}"><h5><i class="mx-3 bi bi-person-circle"></i>Administración</h5></a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link text-light" th:href="@{/registroEmpleados}"><h5><i class="mx-3 bi bi-person-plus-fill"></i>Conductores</h5></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link text-light" th:href="@{/guiaRemision/registro}"><h5><i class="mx-3 bi bi-clipboard-fill"></i>Guia de Remisión</h5></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link text-light" th:href="@{/listadoEmpleados}"><h5><i class=" mx-3 bi bi-person-lines-fill"></i>Listado</h5></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('CONDUCTOR')">
                            <a class="nav-link text-light" th:href="@{/guiaRemision/list}"><h5><i class=" mx-3 bi bi-person-lines-fill"></i>Listado</h5></a>
                        </li>
                    </th:block>
                </ul>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <div class="me-3" style="text-align: center">
                                 <span class="align-middle fs-5 fw-bold text-light" th:text = "@{'Bienvenid@ '}"></span>
                                 <span class="align-middle fs-5 fw-bold text-light" sec:authentication="principal.username">
                                    User
                                </span>
                    </div>
                    <a class="btn btn-light btn-lg" href="#!" onclick="document.getElementById('logoutForm').submit();">Cerrar Sesión</a>
                </form>
            </div>

        </div>
    </nav>
</th:block>

<th:block th:fragment="NavList">
    <ul class="nav nav-tabs container justify-content-center align-items-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoEmpleados}" th:classappend="${#request.getRequestURI() == '/listadoEmpleados'? 'active': ''}">Conductores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoViajes}" th:classappend="${#request.getRequestURI() == '/listadoViajes'? 'active': ''}">Viajes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/guiaRemision/list}" th:classappend="${#request.getRequestURI() == '/guiaRemision/list'? 'active': ''}">Guia de Remision</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  " th:href="@{/listadoTracto}" th:classappend="${#request.getRequestURI() == '/listadoTracto'? 'active': ''}">Tractos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoCarretas}" th:classappend="${#request.getRequestURI() == '/listadoCarretas'? 'active': ''}">Carretas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/listadoClientes}" th:classappend="${#request.getRequestURI() == '/listadoClientes'? 'active': ''}">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contacto/list}" th:classappend="${#request.getRequestURI() == '/contacto/list'? 'active': ''}">Inbox</a>
        </li>
    </ul>
</th:block>
<div id="barraFooter">
    <div class="container-fluid justify-content-center align-items-center text-center ">
        <div class="row p-3 bg-primary text-white align-items-center justify-content-between">
            <div class="col-lg-2">
                <a href="/"> <img id="logo" src="/img/Logo.png" alt="logo" height="100" width="150"></a>
            </div>

            <div class="col-lg-3">
                <h4 class="mb-3 mb-lg-0">Dirección</h4>
                <p class="tam-letra-footer text-center text-lg-start">
                    JR. BOLOGNESI NRO. 240 INT. 202 PROV. CONST. <br>DEL CALLAO-PROV. CONST. DEL CALLAO-BELLAVISTA<br>
                </p>
            </div>

            <div class="col-lg-3">
                <h4 class="mb-3 mb-lg-0">Contacto</h4>
                <p class="tam-letra-footer text-center">
                    997185499
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h4 class="mb-3 mb-lg-0">Redes Sociales</h4>
                <a class="me-3" href="https://www.facebook.com/transportsac.pe">
                    <img src="/img/facebook.png" alt="fb" height="70">
                </a>
                <a class="me-3" href="https://www.instagram.com/mactransportsac/">
                    <img src="/img/instagram.png" alt="ig" height="70">
                </a>
                <a class="me-3" href="https://web.whatsapp.com/">
                    <img src="/img/whatsapp.png" alt="whatsapp" height="70" width="70">
                </a>
            </div>
        </div>

        <div class="row bg-primary text-white">
            <div class="col-12 text-start ps-4">
                <p>© ALL RIGHTS RESERVED Todos los derechos reservados grupo 4 soluciones web</p>
            </div>
        </div>
    </div>
</div>


